.ssContainer{
    width: 300px;
}

.list-container{
    width:100%;
    background-color: #fff7b6;
    padding: 10px 10px;
    overflow: hidden;
    border-style: solid;
    border-color: #fff17f;
    border-radius: 10px;
}

.list-container li{
    background-color:  #fff393;
    width: 100%;
    list-style: none;
    margin: 3px 0px;
    padding: 3px 10px;
    color: #3E3E3E;
}

.list-container ul{
    padding-left: 0px;
}

.arrow-svg{
    height: 30px;
    position: relative;
    bottom: -10px;
    left: 10px;
}

.arrow-path{
    fill: #fff7b6;
}